#cloud-config
users:
 - default
 - name: root
   ssh-authorized-keys:
     - {{ local_pub_key.stdout }}
     - {{ remote_pub_key.stdout }}
runcmd:
 - sed -i -e 's/^Defaults\s\+requiretty/# \0/' /etc/sudoers
